<section id="about">
      <div class="header-about"> 
        <h1><u>About Me</u></h1>
        <div class="btt">
          <a href="#home">(Back to Top)</a>
        </div>
      </div> <!-- end header -->
      <div class="row">
        <div class="col-md-4 col-lg-4">
          <img src="img/philippines.jpg" class="img-responsive" alt="phil">
        </div> <!-- end column -->
        <div class="col-md-4 col-lg-4" id="intro-about">
          <h2>In a nutshell,</h2>
            <h4>I am a nurse, and <a href="#faqs" title="click here!" id="item1"><strong><u>more.</u></strong></a></h4>   
        </div> <!-- end col -->
        <div class="col-md-4 col-lg-4" id="skills-about">
          <h3>My Skills</h3>
            <ul id="skill-list-about">
              <li>Intensive Care Nursing (various specialities) and other nurse superpowers!</li>
              <li>Full-Stack Web Development</li>
              <li>I also happen to be a qualified bicycle mechanic</li>
            </ul> <!-- end list about -->
        </div> 
        <div class="col-md-8 col-lg-8" id="video">
         <iframe width="560" height="315" src="https://www.youtube.com/embed/ADNgEHFDYzo" frameborder="0" allowfullscreen></iframe>
        </div>
      </div> <!-- end row -->
      <div class="story-about">
        <h3>My Story</h3>
          <p>I was born in Manila, Philippines and moved into the United Kingdom in 2009. Having worked in intensive care for a total of 8 years (and counting!) I have come to realise the need to use more technology in order to improve this exciting field. I have always been interested in creating healthcare-specific websites and applications that will support the work of my fellow nurses.</p>
      </div> <!-- end story-about -->
    </section> <!-- end section about -->