<section id="contact">
      <div class="col-lg-6 col-md-6" id="map">
        <iframe width="550" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/directions?origin=place_id:ChIJTQBeNgROqEcRJ1UMP3Zkyy4&destination=place_id:ChIJH85xGDwbdkgRFWSP5kFa9Jc&key=AIzaSyDM7bhRXabqoXrlDnEngsG-fGmkcG6qZms" allowfullscreen></iframe>
      </div> <!-- end map -->
      <div class="col-lg-6 col-md-6" id="deets">
        <div class="header-contact">
          <h1><strong><u>Contact Info</u></strong></h1>
          <div class="btt">
            <a href="#home">(Back to Top)</a>
          </div>
        </div> <!-- end header-->
        <div class="body-contact" class="col-lg-12 col-md-12">
          <h3>Send me a message anytime</h3>
        </div> <!-- end body contact -->
        <br>
        <div class="center-contact" class="col-lg-12 col-md-12">
          <ul class="list-unstyled" id="directory">
            <li><span class="glyphicon glyphicon-phone-alt"></span> mobile +(12)345678910</li>
            <li><span class="glyphicon glyphicon-envelope"></span> email <a href="mailto:abcdef@ghijklm.com?Subject=Enquiry" target="_top"><font color="white"><u>abcdef@ghijklm.com</u></font></a></li>
            <li><span class="glyphicon glyphicon-file"></span> fax +(12)12113114</li>
            <li><span class="glyphicon glyphicon-retweet"></span> twitter<a href="https://twitter.com/pjbasa"><font color="white"><u>@pjbasa</u></font></a></li>
          </ul> <!--end id contacts -->
          <p> In case there is a delay in my reply (I reply as soon as I can), I am either on-duty, or just finished nights! </p>
        </div> <!-- end center contact -->
      </div> <!-- end #contact -->
        <form data-toggle="validator" role="form">
          <div class="row">
            <div id="must" class="col-lg-4 col-md-4">
              <h1><strong><u>Let's Talk!</u></strong></h1>
              <p>*(required fields)</p>
            </div>
          </div>
          <div class="row" id="fields">
            <div class="form-group" class="col-lg-8 col-md-8">
              <label for="inputName" class="control-label">Your Name</label><br>
              <input type="text" class="form-control" id="name" placeholder="John Doe"/>
            </div> <!-- end form group text -->
            <div class="form-group" class="col-lg-8 col-md-8">
              <label for="inputEmail" class="control-label">Your email address*</label><br>
              <input type="email" id="email" class="form-control" placeholder="you@example.com" required/>
              <p id="visible-email"></p>
            </div> <!-- end form-group email -->
            <div class="form-group" class="col-lg-8 col-md-8">
              <label for="tel">Your Contact Number</label>
              <input type="tel" id="tel" class="form-control" placeholder="Complete Phone Number" >
            </div>
          </div>
          <br>
          <div class="row">
            <div class="form-group" class="col-lg-8 col-md-8">
              <label for="inputMessage">Your Message*</label><br>
              <textarea style="resize:none" class="form-control" cols="80" rows="5" placeholder="Leave me a Message!" id="message-box" required></textarea><br>
               <p id="visible-comment"></p>
               <p id="char-count"></p>
              <button type="submit" class="btn btn-default" id="button">Submit</button>
            </div>
          </div> <!-- end row -->
        </form> <!-- end form -->
      </div> <!--end center-contact -->
      <div id="availability-contact" class="col-xs-12 col-md-12 col-lg-12">
        <h3>Available 24/7, 365 days a year (send message or <a href="mailto:abcdef@ghijklm.com?Subject=Enquiry"><font color="white"><u>email</u></font></a> to confirm)</h3>
      </div> <!-- end availability -->
    </section> <!--end contact -->