<section id="faqs">
      <div class="title-faqs">
        <h2><strong><u>Frequently Asked Questions</u></strong></h2>
        <div class="btt">
          <a href="#home">(Back to Top)</a>
        </div>
      </div>
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              How long have you been a Registered Nurse?
            </a>
          </h4> <!-- end panel-title #1 -->
        </div> <!-- end #headingOne -->
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            I have been a Registered Nurse since 2007. I started working in Intensive Care in a huge private medical centre in the Philippines and eventually made my way to the United Kingdom in 2009. My nursing experience have always been Intensive Care. I have worked in different specialities and have been exposed to a wide variety of units. I did my Intensive Care course in 2014 and finished on time in 2015. I trained to become a nurse to be able to help and heal people, but found that Intenive Care deals with not only the sickest patients in a high-energy, fast-paced environment, but more complicated medical technology that demand precision and mastery in order to be able to use effectively.
          </div> <!-- end panel-body #1 -->
        </div> <!-- end #collapseOne -->
      </div> <!--end panel panel-default collapseOne -->
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"aria-expanded="false" aria-controls="collapseTwo">
              What got you into Web Development?
            </a>
          </h4> <!-- end panel-title #2 -->
        </div> <!-- end headingTwo -->
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
            I have always been interested in technology, being exposed to it from a young age.  But as much as the technology when it comes to equipment is there, I saw a need to improve on the existing system in documentation and streamlining the way we do our job. I believe that when there is a better system to help medical professionals access important things that relate to patient care and keep it secure, it will translate to better and safer care. For nurses, it will mean more time to engage with the patient and deliver more for the patients and the service.
          </div> <!-- end panel-body #2 -->
        </div> <!-- end #collapseTwo -->
      </div> <!--end panel panel-default #2 -->
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                What is your design process?
              </a>
            </h4> <!-- end panel-title #3 -->
          </div> <!-- end headingThree -->
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
              Being a nurse by heart, I have evolved to relate what I have learned in nursing school in my everyday life, and eventually my design process. The nursing process include ASSESSMENT. DIAGNOSIS (nursing), PLANNING, IMPLEMENTATION and EVALUATION. I look at any project and approach it very similarly. Having this process, assessment is good research about the project and identification of potential obstacles and ways to overcome them; diagnosis is a thorough understanding of what features and target timeframe the project should meet; planning involves wireframes and sketches, implementation is the actual code-writing and evaluation is debugging and testing. It is important to realise that this is not a linear process, it is a continuous, dynamic process. I also make sure there is an open line of communication between the client and me, in order to make it as smooth as possible and every aspect of the project made known to both parties. I plan targets using SMART (specific, measureable, attainable, realistic and time-bound). 
            </div> <!-- end panel-body #3 -->
          </div> <!-- end collapseThree -->
        </div> <!-- end panel panel-default #3 -->
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFour">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                What is your average project turnaround?
              </a>
            </h4> <!-- end panel-title #4 -->
          </div> <!-- end panel-heading #4 -->
          <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="panel-body">
              This varies depending on the number of problems encountered or number of things to be added last minute, that is why I endeavour to spend more time planning, making sure the plan is throughly researched and designs fully approved before starting coding. On average, a site refresh with a few tweaks for a blogger would be done in a day or two. A site built from scratch will take anytime between a few days to a few months depending on how big the project is. I regularly update clients as to the progress of the project.
            </div> <!-- end panel-body #4 -->
          </div> <!-- end collapseFour -->
        </div> <!-- end panel panel-default #4 -->
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFive">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                What are you passionate about?
              </a>
            </h4> <!-- end panel-title #5 -->
          </div> <!-- panel-heading #5 -->
          <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
            <div class="panel-body">
              Apart from being passionate about being a nurse and technology, I am also passionate about a few other things. I am passionate about protecting the environment, I have always been passionate about science as a whole (grew up on the nerdy side), and I am passionate about equality. To sum it up, I am passionate about improving life, for everybody.
            </div> <!-- end panel-body #5 -->
          </div> <!-- end collapseFive -->
        </div> <!-- and panel panel-default #5 -->
      </div> <!-- end #accordion -->
    </section> <!-- faqs -->
    <section id="modal1">
      <h2 class="learn-more">Learn More</h2>  
        <!-- Large modal -->
      <div class="modal-button">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">View CV</button>
      </div> <!--end modal-button-->
      <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static" data-keyboard="false">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel" align="middle"><u>My CV</u></h4>
      </div> <!-- end modal-header -->
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <embed id="modalembed" data-modal-fit-viewport="true" src="http://www.smashingmagazine.com/images/design-cv-resume/evalotta_lamm.pdf">
      </div> <!-- end modal-content -->         
    </section> <!-- end section modal -->