 <header id="head">
      <h1>PJ Basa. Nurse. Webmaster.</h1>
        <p><strong>Serving all of your health and web development needs</strong></p>
        <a href="#about">About PJ...</a>
    </header>
    <section id="home">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
       <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <%=image_tag("2E.jpg")%>
            <div class="carousel-caption">
            <h3>"Remember the PAST...<br>for it shapes your FUTURE.</h3>
            </div>
          </div><!-- end item active -->
          <div class="item">
            <%=image_tag("1E.jpg")%>
            <div class="carousel-caption">
              <h3>Treasure the PRESENT, because it is FLEETING.</h3>
            </div>
          </div><!-- end item -->
          <div class="item">
              <%=image_tag("3E.jpg")%>
              <div class="carousel-caption">
                <h3>ALWAYS be WISE, because it is our choices that determine our DESTINY. </h3>
              </div>
            </div><!-- end item -->
          </div><!--end carousel-inner -->
          <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div> <!-- Carousel example generic -->
      <div id="main-columns">
        <!-- Example row of columns -->
        <div class="row" id="portfolio">
          <div class="col-md-4">
            <h2>Portfolio Concept</h2>
              <p>I plan to create a portfolio showing all of the work I have done, highlighting the skills I will have gained along the way, in a clean, minimalist website using muted colours and in the simplest and most easy-to-use way possible. It will feature functional pages, relevant illustration that will be responsive in all devices.</p>
              <a role="button" href="#faqs" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Tooltip on left">View More</a>
              <!--<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Tooltip on left">Learn More</button>-->
              <!--<a class="btn btn-info" href="#" role="button">View details &raquo;</a>-->
          </div><!-- /col -->
          <div class="col-md-4">
            <h2>Project Goals</h2>
              <p>I want to create a website for intensive care nurses, with topics ranging from latest journals and latest evidence-based practice to essential skills and information in order to have a "one-stop shop" resource hub to help those who are new to the world of intensive care nursing.</p>
              <a role="button" href="#works" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Tooltip on top">View More</a>
              <!--<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Tooltip on top">View More</button>-->
          </div><!-- /col -->
          <div class="col-md-4">
            <h2>Course Goals</h2>
              <p>I am hoping to learn how to create interactive websites and web applications, and learn coding using the best practices and industry standards. I understand that it will be difficult, frustrating at times, but I am willing to learn from my mistakes in order to gain the most knowledge and be a good (if not a very good) web developer in a few months.</p>
              <a role="button" href="#faqs" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Tooltip on right">View More</a>
              <!--<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Tooltip on right">View More</button>-->
          </div> <!-- /col -->
        </div> <!-- /row -->
      </div> <!-- /columns -->
    </section> <!-- end section home -->
<section id="about">
      <div class="header-about"> 
        <h1><u>About Me</u></h1>
        <div class="btt">
          <a href="#home">(Back to Top)</a>
        </div>
      </div> <!-- end header -->
      <div class="row">
        <div class="col-md-4 col-lg-4">
          <img src="img/philippines.jpg" class="img-responsive" alt="phil">
        </div> <!-- end column -->
        <div class="col-md-4 col-lg-4" id="intro-about">
          <h2>In a nutshell,</h2>
            <h4>I am a nurse, and <a href="#faqs" title="click here!" id="item1"><strong><u>more.</u></strong></a></h4>   
        </div> <!-- end col -->
        <div class="col-md-4 col-lg-4" id="skills-about">
          <h3>My Skills</h3>
            <ul id="skill-list-about">
              <li>Intensive Care Nursing (various specialities) and other nurse superpowers!</li>
              <li>Full-Stack Web Development</li>
              <li>I also happen to be a qualified bicycle mechanic</li>
            </ul> <!-- end list about -->
        </div> 
        <div class="col-md-8 col-lg-8" id="video">
         <iframe width="560" height="315" src="https://www.youtube.com/embed/ADNgEHFDYzo" frameborder="0" allowfullscreen></iframe>
        </div>
      </div> <!-- end row -->
      <div class="story-about">
        <h3>My Story</h3>
          <p>I was born in Manila, Philippines and moved into the United Kingdom in 2009. Having worked in intensive care for a total of 8 years (and counting!) I have come to realise the need to use more technology in order to improve this exciting field. I have always been interested in creating healthcare-specific websites and applications that will support the work of my fellow nurses.</p>
      </div> <!-- end story-about -->
    </section> <!-- end section about -->
    <section id="contact">
      <div class="col-lg-6 col-md-6" id="map">
        <iframe width="550" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/directions?origin=place_id:ChIJTQBeNgROqEcRJ1UMP3Zkyy4&destination=place_id:ChIJH85xGDwbdkgRFWSP5kFa9Jc&key=AIzaSyDM7bhRXabqoXrlDnEngsG-fGmkcG6qZms" allowfullscreen></iframe>
      </div> <!-- end map -->
      <div class="col-lg-6 col-md-6" id="deets">
        <div class="header-contact">
          <h1><strong><u>Contact Info</u></strong></h1>
          <div class="btt">
            <a href="#home">(Back to Top)</a>
          </div>
        </div> <!-- end header-->
        <div class="body-contact" class="col-lg-12 col-md-12">
          <h3>Send me a message anytime</h3>
        </div> <!-- end body contact -->
        <br>
        <div class="center-contact" class="col-lg-12 col-md-12">
          <ul class="list-unstyled" id="directory">
            <li><span class="glyphicon glyphicon-phone-alt"></span> mobile +(12)345678910</li>
            <li><span class="glyphicon glyphicon-envelope"></span> email <a href="mailto:abcdef@ghijklm.com?Subject=Enquiry" target="_top"><font color="white"><u>abcdef@ghijklm.com</u></font></a></li>
            <li><span class="glyphicon glyphicon-file"></span> fax +(12)12113114</li>
            <li><span class="glyphicon glyphicon-retweet"></span> twitter<a href="https://twitter.com/pjbasa"><font color="white"><u>@pjbasa</u></font></a></li>
          </ul> <!--end id contacts -->
          <p> In case there is a delay in my reply (I reply as soon as I can), I am either on-duty, or just finished nights! </p>
        </div> <!-- end center contact -->
      </div> <!-- end #contact -->
        <form data-toggle="validator" role="form">
          <div class="row">
            <div id="must" class="col-lg-4 col-md-4">
              <h1><strong><u>Let's Talk!</u></strong></h1>
              <p>*(required fields)</p>
            </div>
          </div>
          <div class="row" id="fields">
            <div class="form-group" class="col-lg-8 col-md-8">
              <label for="inputName" class="control-label">Your Name</label><br>
              <input type="text" class="form-control" id="name" placeholder="John Doe"/>
            </div> <!-- end form group text -->
            <div class="form-group" class="col-lg-8 col-md-8">
              <label for="inputEmail" class="control-label">Your email address*</label><br>
              <input type="email" id="email" class="form-control" placeholder="you@example.com" required/>
              <p id="visible-email"></p>
            </div> <!-- end form-group email -->
            <div class="form-group" class="col-lg-8 col-md-8">
              <label for="tel">Your Contact Number</label>
              <input type="tel" id="tel" class="form-control" placeholder="Complete Phone Number" >
            </div>
          </div>
          <br>
          <div class="row">
            <div class="form-group" class="col-lg-8 col-md-8">
              <label for="inputMessage">Your Message*</label><br>
              <textarea style="resize:none" class="form-control" cols="80" rows="5" placeholder="Leave me a Message!" id="message-box" required></textarea><br>
               <p id="visible-comment"></p>
               <p id="char-count"></p>
              <button type="submit" class="btn btn-default" id="button">Submit</button>
            </div>
          </div> <!-- end row -->
        </form> <!-- end form -->
      </div> <!--end center-contact -->
      <div id="availability-contact" class="col-xs-12 col-md-12 col-lg-12">
        <h3>Available 24/7, 365 days a year (send message or <a href="mailto:abcdef@ghijklm.com?Subject=Enquiry"><font color="white"><u>email</u></font></a> to confirm)</h3>
      </div> <!-- end availability -->
    </section> <!--end contact -->
    <section id="works">
        <h1><u>Works</u></h1>
      <div class="btt">
        <a href="#home">(Back to Top)</a>
      </div>
      <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3">
          <a href='#' class='works-img' class='img-responsive'></a>
          <span class='info'><p class='proj-title'></p></span>
        </div>
      </div>
    </section> <!-- end works -->
    <section id="faqs">
      <div class="title-faqs">
        <h2><strong><u>Frequently Asked Questions</u></strong></h2>
        <div class="btt">
          <a href="#home">(Back to Top)</a>
        </div>
      </div>
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              How long have you been a Registered Nurse?
            </a>
          </h4> <!-- end panel-title #1 -->
        </div> <!-- end #headingOne -->
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            I have been a Registered Nurse since 2007. I started working in Intensive Care in a huge private medical centre in the Philippines and eventually made my way to the United Kingdom in 2009. My nursing experience have always been Intensive Care. I have worked in different specialities and have been exposed to a wide variety of units. I did my Intensive Care course in 2014 and finished on time in 2015. I trained to become a nurse to be able to help and heal people, but found that Intenive Care deals with not only the sickest patients in a high-energy, fast-paced environment, but more complicated medical technology that demand precision and mastery in order to be able to use effectively.
          </div> <!-- end panel-body #1 -->
        </div> <!-- end #collapseOne -->
      </div> <!--end panel panel-default collapseOne -->
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"aria-expanded="false" aria-controls="collapseTwo">
              What got you into Web Development?
            </a>
          </h4> <!-- end panel-title #2 -->
        </div> <!-- end headingTwo -->
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
            I have always been interested in technology, being exposed to it from a young age.  But as much as the technology when it comes to equipment is there, I saw a need to improve on the existing system in documentation and streamlining the way we do our job. I believe that when there is a better system to help medical professionals access important things that relate to patient care and keep it secure, it will translate to better and safer care. For nurses, it will mean more time to engage with the patient and deliver more for the patients and the service.
          </div> <!-- end panel-body #2 -->
        </div> <!-- end #collapseTwo -->
      </div> <!--end panel panel-default #2 -->
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                What is your design process?
              </a>
            </h4> <!-- end panel-title #3 -->
          </div> <!-- end headingThree -->
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
              Being a nurse by heart, I have evolved to relate what I have learned in nursing school in my everyday life, and eventually my design process. The nursing process include ASSESSMENT. DIAGNOSIS (nursing), PLANNING, IMPLEMENTATION and EVALUATION. I look at any project and approach it very similarly. Having this process, assessment is good research about the project and identification of potential obstacles and ways to overcome them; diagnosis is a thorough understanding of what features and target timeframe the project should meet; planning involves wireframes and sketches, implementation is the actual code-writing and evaluation is debugging and testing. It is important to realise that this is not a linear process, it is a continuous, dynamic process. I also make sure there is an open line of communication between the client and me, in order to make it as smooth as possible and every aspect of the project made known to both parties. I plan targets using SMART (specific, measureable, attainable, realistic and time-bound). 
            </div> <!-- end panel-body #3 -->
          </div> <!-- end collapseThree -->
        </div> <!-- end panel panel-default #3 -->
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFour">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                What is your average project turnaround?
              </a>
            </h4> <!-- end panel-title #4 -->
          </div> <!-- end panel-heading #4 -->
          <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="panel-body">
              This varies depending on the number of problems encountered or number of things to be added last minute, that is why I endeavour to spend more time planning, making sure the plan is throughly researched and designs fully approved before starting coding. On average, a site refresh with a few tweaks for a blogger would be done in a day or two. A site built from scratch will take anytime between a few days to a few months depending on how big the project is. I regularly update clients as to the progress of the project.
            </div> <!-- end panel-body #4 -->
          </div> <!-- end collapseFour -->
        </div> <!-- end panel panel-default #4 -->
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFive">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                What are you passionate about?
              </a>
            </h4> <!-- end panel-title #5 -->
          </div> <!-- panel-heading #5 -->
          <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
            <div class="panel-body">
              Apart from being passionate about being a nurse and technology, I am also passionate about a few other things. I am passionate about protecting the environment, I have always been passionate about science as a whole (grew up on the nerdy side), and I am passionate about equality. To sum it up, I am passionate about improving life, for everybody.
            </div> <!-- end panel-body #5 -->
          </div> <!-- end collapseFive -->
        </div> <!-- and panel panel-default #5 -->
      </div> <!-- end #accordion -->
    </section> <!-- faqs -->
    <section id="modal1">
      <h2 class="learn-more">Learn More</h2>  
        <!-- Large modal -->
      <div class="modal-button">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">View CV</button>
      </div> <!--end modal-button-->
      <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static" data-keyboard="false">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel" align="middle"><u>My CV</u></h4>
      </div> <!-- end modal-header -->
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <embed id="modalembed" data-modal-fit-viewport="true" src="http://www.smashingmagazine.com/images/design-cv-resume/evalotta_lamm.pdf">
      </div> <!-- end modal-content -->         
    </section> <!-- end section modal -->
    <footer>
      &copy;PJBasa 2015
      <div class="centered">
        <a href="https://twitter.com/pjbasa" class="twitter-follow-button"  data-show-count="false">Follow @pjbasa</a>
      </div>
      <div class="centered">
        <div class="fb-follow" data-href="https://www.facebook.com/pj.basa" data-width="90px" data-height="20px" data-layout="button" data-show-faces="true"></div>
      </div>
    </footer>
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/works.js"></script>
    <script src="js/scripts.js"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCK9W7jOmJrwu7BIXYiAKRQrMjgwV0v8FA&callback=initMap">
  </script>
  </body>
</html>    