 <header id="head">
      <h1>PJ Basa. Nurse. Webmaster.</h1>
        <p><strong>Serving all of your health and web development needs</strong></p>
        <a href="#about">About PJ...</a>
    </header>
    <section id="home">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
       <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img src="img/2E.jpg" alt="typewriter">
            <div class="carousel-caption">
            <h3>"Remember the PAST...<br>for it shapes your FUTURE.</h3>
            </div>
          </div><!-- end item active -->
          <div class="item">
            <img src="img/1E.jpg" alt="desktop">
            <div class="carousel-caption">
              <h3>Treasure the PRESENT, because it is FLEETING.</h3>
            </div>
          </div><!-- end item -->
          <div class="item">
              <img src="img/3E.jpg" alt="notebook">
              <div class="carousel-caption">
                <h3>ALWAYS be WISE, because it is our choices that determine our DESTINY. </h3>
              </div>
            </div><!-- end item -->
          </div><!--end carousel-inner -->
          <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div> <!-- Carousel example generic -->
      <div id="main-columns">
        <!-- Example row of columns -->
        <div class="row" id="portfolio">
          <div class="col-md-4">
            <h2>Portfolio Concept</h2>
              <p>I plan to create a portfolio showing all of the work I have done, highlighting the skills I will have gained along the way, in a clean, minimalist website using muted colours and in the simplest and most easy-to-use way possible. It will feature functional pages, relevant illustration that will be responsive in all devices.</p>
              <a role="button" href="#faqs" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Tooltip on left">View More</a>
              <!--<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Tooltip on left">Learn More</button>-->
              <!--<a class="btn btn-info" href="#" role="button">View details &raquo;</a>-->
          </div><!-- /col -->
          <div class="col-md-4">
            <h2>Project Goals</h2>
              <p>I want to create a website for intensive care nurses, with topics ranging from latest journals and latest evidence-based practice to essential skills and information in order to have a "one-stop shop" resource hub to help those who are new to the world of intensive care nursing.</p>
              <a role="button" href="#works" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Tooltip on top">View More</a>
              <!--<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Tooltip on top">View More</button>-->
          </div><!-- /col -->
          <div class="col-md-4">
            <h2>Course Goals</h2>
              <p>I am hoping to learn how to create interactive websites and web applications, and learn coding using the best practices and industry standards. I understand that it will be difficult, frustrating at times, but I am willing to learn from my mistakes in order to gain the most knowledge and be a good (if not a very good) web developer in a few months.</p>
              <a role="button" href="#faqs" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Tooltip on right">View More</a>
              <!--<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Tooltip on right">View More</button>-->
          </div> <!-- /col -->
        </div> <!-- /row -->
      </div> <!-- /columns -->
    </section> <!-- end section home -->